* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Tamil MN;
  
}
img {
    max-width: 100%;
    max-height: 100%;
  }
  .picture1{
    
    height: 100px;
  }
body{

    background-color:#BDBFBF ;
    font-family: Tamil MN;


}
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}
.container {
    width: 1300px;
    margin: 40px ;
    margin-right: 40px;
    position: static;
    float: right;
}

.header {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
     padding-right: 300px;
     margin: 0px auto;
        width: 1300px;
        height: 50px;
        background-color: #a2a2a3;
        padding: 50px;
        display: flex;
        width: 100%;
       
    }
    .nav {
        display: flex;
        width: 600px;
        justify-content: space-between;
     
    }
    .nav a {
        color: black
        
    }
    
    .nav a:hover {
    
        color: #5B5B5B;
    }
    
    .main {
        display: flex;
    }
   
    .containerg {
        max-width: 1200px;
        margin: auto;
        background: #707070;
        overflow: auto;

    }
    .gallery {
        margin: 5px;
        border: -3px solid #6E7349;
        float: left;
        width: 290px;
    }
    .gallery img {
        width: 100%;
        height: auto;
    }
    .desc {
        padding: 15px;
        text-align: center;
    }
    h1 {
        font-family: Tamil MN;
        margin: 60px auto;
        text-align: center;
        font-size: 40px;
        max-width: 500px;
        position: relative;
    }
    h1::before {
        content: "";
        display: block;
        width: 120px;
        height: 2px;
        background: #000;
        position: absolute;
        left: 0;
        top: 50%;
        z-index: -2;
    }
    h1::after {
        content: "";
        display: block;
        width: 120px;
        height: 2px;
        background: #000;
        position: absolute;
        right: 0;
        top: 50%;
        z-index: -2;
    }
    span {
        background: #fff;
    }
    